@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Caveat&family=Cinzel+Decorative&family=Crafty+Girls&family=Dancing+Script&family=Gloria+Hallelujah&family=Homemade+Apple&family=Lakki+Reddy&family=Love+Ya+Like+A+Sister&family=Nanum+Pen+Script&family=Satisfy&family=Snowburst+One&display=swap');

.App {
  /* text-align: center; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(180deg, #006e7c, #5727c7);

}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.Progress-bar {
  height: 30px;
}

.App-header {
  background-color: #006e7c;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.Header-text {
  position: relative;
  /* top: auto; */
  background-color:   #006d7c7a;
  /* min-height: 50vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family:  'Crafty Girls';
  font-size: calc(20px + 2vmin);
  color: rgb(255, 255, 255);
  width: 700px;
  height: 500px;
  text-shadow: rgb(0, 0, 0) 2px 0 5px;}

.App-body {
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  width: 100%;
  color: white;
}

.Body-text {
  position: relative;
  background-color:   #eff4f559;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Gloria Hallelujah';
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  width: 1175px;
  height: 500px;
  text-shadow: rgb(0, 0, 0) 4px 0 5px;}

  .Skills-body {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Skills-text {
    position: relative;
    background-color:   #eff4f559;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Annie Use Your Telescope';
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 4px 0 5px;
    width: 700px;
    height: 600px;
    }

    .Skills-text2 {
    position: relative;
    background-color: #eff4f559;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Annie Use Your Telescope';
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 4px 0 5px;
    width: 700px;
    height: 600px;
    }

      .Mini-header-text {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family:  'Crafty Girls';
        font-size: calc(20px + 2vmin);
        color: rgb(255, 255, 255);
        text-shadow: rgb(0, 0, 0) 2px 0 5px;}

.App-link {
  color: #61dafb;
}
