.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.App-header {
  background-color: #006e7c;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.Header-text {
  position: absolute;
  top: 0%;
  left: 27.5%;
  background-color:  #00000091;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Lucida Handwriting";
  font-size: calc(20px + 2vmin);
  color: rgb(0, 155, 245);
  padding-left: 150px;
  padding-right: 150px;
  /* text-shadow: black; */
}

.App-link {
  color: #61dafb;
}
